@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #310e68;
background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
  height: 12%;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.logo a {
  color: rgb(226, 226, 226);
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  width: 10%;
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-family: "poppins";
  font-size: 15px;
  transition: 0.2s;
  top: 0;
  position: relative;
}

.nav-links:hover {
  top: -10px;
}